<div class="content" style="padding-left:10%;padding-right:10%;padding-top:5%">
    <form class="example-form" [formGroup]="formGroup">
        <mat-card>
            <mat-card-header style="align-self: center;">
                <h3>Registration</h3>
            </mat-card-header>

            <div class="row">
                <div class="col-sm-2">
                    <mat-form-field class="example-full-width">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter Username" formControlName="userName" value="">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter Password" formControlName="password" value="">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <mat-form-field class="example-full-width">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Confirm Password" formControlName="confirmpassword" value="">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <mat-form-field class="example-full-width">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Enter First  Name" formControlName="firstName" value="">
                    </mat-form-field>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <mat-form-field class="example-full-width">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Enter  Last Name" formControlName="lastName" value="">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button mat-raised-button (click)="crateNewUser($event)" color="primary">Submit</button>
                </div>
                <div class="col-sm-4">
                    <button mat-stroked-button (click)="restFields()" color="primary">Reset</button>
                </div>
            </div>
        </mat-card>
    </form>
</div>